<!DOCTYPE html>
<html style = 'overflow-x: hidden;'lang="en">

<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav style="height: 20em; background-image: url('../../imagenes/Vegetales.jpg') !important;
    background-position: center;" class="navbar navbar-expand-md bg-primary navbar-dark">
        <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="navbar-brand" href="#">AgroCauca</button>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse justify-content-center"  id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">productos Canasta</button>
            </li>
            <li class="nav-item">
                <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">Organizaciones</button>
            </li>
            <li class="nav-item">
                <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">Ofertas</button>
            </li>    
            <li class="nav-item">
                <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">Inversionistas</button>
            </li>  
            <li class="nav-item">
                <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">Eventos</button>
            </li>  
            <li class="nav-item">
                <button style = " background:rgb(54, 54, 216);color: white; border: white solid" class="nav-link" href="#">Iniciar sesion</button>
            </li>  
          </ul>
        </div>  
      </nav>
    </div>
    <section class=" section">

      
    <!--Section: Content-->
    <section class="text-center">
      
          <!-- Section heading -->
          <h3 class="font-weight-bold dark-grey-text pb-2 mb-4">Oferta Agricola</h3>
          <!-- Section description -->
          <p class="text-muted w-responsive mx-auto mb-5">Aprovecha de esta gran Oferta
              los mejores productos con los mejores descuestos
          </p>
      
          <!-- Grid row -->
          <div style = 'background-color: teal;'class="row">
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
      
                <!-- Pricing card -->
                <div class="card pricing-card white-text">
        
                  <!-- Price -->
                  <div class="aqua-gradient rounded-top">
                    <img style = "width: 150px; height: 100px;" src="../../imagenes/pepino1.jpg">
                </div>
      
                <!-- Features -->
                <div class="card-body striped purple-striped card-background px-5">
      
                  <h2 class="my-4 pb-3 h1">50%</h2>
                  <ul>
                    <ul>
                        <li>
                          <p>Pepino</p>
                        </li>
                        <li>
                          <p><strong>4000/L</strong> Disponibles</p>
                        </li>
                        <li>
                          <p><strong>Precio</strong>2500/L</p>
                        </li>
                      </ul>
                      <button style="position: relative; right: 0px; background-color: rgb(21, 187, 21); color:white" href="category.html">Agregar al carrito</button>
      
                </div>
                <!-- Features -->
      
              </div>
              <!-- Pricing card -->
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
      
                <!-- Pricing card -->
                <div class="card pricing-card white-text">
        
                  <!-- Price -->
                  <div class="aqua-gradient rounded-top">
                    <img style = "width: 150px; height: 100px;" src="../../imagenes/Papaya.jpg">
                </div>
      
                <!-- Features -->
                <div class="card-body striped orange-striped card-background px-5">
      
                  <h2 class="my-4 pb-3 h1">40%</h2>
                  <ul>
                    <ul>
                        <li>
                          <p>Papaya</p>
                        </li>
                        <li>
                          <p><strong>2000/L</strong> Disponibles</p>
                        </li>
                        <li>
                          <p><strong>Precio</strong> 4500/L</p>
                        </li>
                      </ul>
                      <button style="position: relative; right: 0px; background-color: rgb(21, 187, 21); color:white" href="category.html">Agregar al carrito</button>
                </div>
                <!-- Features -->
              </div>
              <!-- Pricing card -->    
            </div>
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">
      
                <!-- Pricing card -->
                <div class="card pricing-card white-text">
        
                  <!-- Price -->
                  <div class="aqua-gradient rounded-top">
                    <img style = "width: 150px; height: 100px;" src="../../imagenes/Aguacate.jpg">
                </div>
      
                <!-- Features -->
                <div class="card-body striped purple-striped card-background px-5">
      
                  <h2 class="my-4 pb-3 h1">35%</h2>
                  <ul>
                    <ul>
                        <li>
                          <p>Aguacate</p>
                        </li>
                        <li>
                          <p><strong>24000/L</strong> Disponibles</p>
                        </li>
                        <li>
                          <p><strong>Precio</strong> 1000/L</p>
                        </li>
                      </ul>
                      <button style="position: relative; right: 0px; background-color: rgb(21, 187, 21); color:white" href="category.html">Agregar al carrito</button>
      
                </div>
                <!-- Features -->
      
              </div>
              <!-- Pricing card -->
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
        <!--Section: Content-->
      
      </div>
    
    
</body>

</html>